
static const char* VERSION = "{{base_version}}";
static const char* FULL_VERSION = "{{version}}";
static const char* APP_NAME = "{{name}}";
static const char* BRANCH = "{{stamped_on_branch}}";
static const char* RELEASE_MODE = "{{release_mode}}";
static const char* BUILD_TYPE = "{{version_metadata['build_type']}}";
static const char* BUILD_FLAGS = "{{version_metadata['CXX_FLAGS']}}";
static const char* CHANGESETS =
{% for k,v in changesets.items() %}
"    REPO: {{k}}\n" \
"    HASH: {{v.hash}}\n" \
"    REMOTE: {{v.remote}}\n" \
"    VCS_TYPE: {{v.vcs_type}}\n" \
{% endfor %}
"";
